executor {
  name = 'lsf'
  //name = 'local'
  perJobMemLimit = true
  queue = 'bioinformatics'
  memory = '100 GB'
  cpus = 8

}

process {

// run_megalodon only runs in gpu queue
  withName: 'run_megalodon' {
    memory = '100 GB'
    cpus = 8
    queue = 'gpu'
    clusterOptions = "-gpu 'num=1' -gmem=16700 "
  }
}

